.name-picker-table {
  border: 1px #dddddd solid;
  height: 90%;

  .candidates {
    width: 40%;
  }
  .recipients {
    width: 40%;
  }
  .action {
    width: 20%;
  }

  th {
    height: 30px;
    color: #0066c0;
    border: 1px #dddddd solid;
  }

  td {
    vertical-align: top;
    border: 1px #dddddd solid;
    ul {
      height: 100%;
      overflow-y: auto;
      margin:0;
    }
  }

}
