.recipient-list {
  .recipient-to-header, .recipient-cc-header, .recipient-bcc-header {
    background-color: #337ab7;
    border-color: #4cae4c;
    border: 1px;
    font-weight: 400;
    color: #fff;
  }
}
